Xcursor.theme: Ring-Orange24

URxvt*font: xft:terminus:size=8
URxvt*perl-ext-common: default,selection-to-clipboard,matcher
URxvt*url-launcher: /usr/bin/google-chrome
URxvt*matcher.button: 1
URxvt*depth:                32
URxvt*background:            [090]#4F4F4F
URxvt*foreground:            [100]#DEBDAF
URxvt*borderless: 1
URxvt*scrollBar:            false
URxvt*saveLines:  50000
URxvt*termName:    rxvt-unicode

! black
*color0: #262626
! bright_black
*color8: #808080
! red
*color1: #0B9DD6
! bright_red
*color9: #F59069
! green
*color2: #CC5D2D
! bright_green
*color10: #a8e868
! yellow
*color3: #D6D618
! bright_yellow
*color11: #dede64
! blue
*color4: #0B9DD6
! bright_blue
*color12: #84b5e6
! magenta
*color5: #C64AFF
! bright_magenta
*color13: #C379E8
! cyan
*color6: #24B190
! bright_cyan
*color14: #73d1a2
! white
*color7: #878787
! bright_white
*color15: #cfcfcf
